<%  provide(:title, "お問い合わせ") %>
<h1>お問い合わせフォーム</h1>
<%= form_for @question do |f| %>
  <%= render "shared/error_messages", object: @question %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control my-form", placeholder: "お名前を入力" %>
  <br>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control my-form", placeholder: "メールアドレスを入力" %>
  <br>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control my-form", placeholder: "件名を入力" %>
  <br>

  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control my-form", size: "30x8", placeholder: "内容を入力" %>
  <br>

  <%= f.submit "送信する", class: "btn btn-success" %>
<% end %>
<br><br><br>