<%  provide(:title, "お問い合わせ詳細") %>
<h1>お問い合わせ確認ページ</h1>
<p>名前：<%= @question.name %></p>
<p>メールアドレス：<%= @question.email %></p>
<p>件名：<%= @question.title.presence || "なし" %></p>
<p>内容：<%= simple_format(@question.content) %></p>
<br>
<br>
<% if @question.admin_checked? %>
  <p class="btn btn-info">※対応済み</p>
<% else %>
  <%= form_for @question do |f|   %>
    <%= f.submit "対応済みにする", class: "btn btn-primary" %>
  <% end %>
<% end %>