<%  provide(:title, "イベント申し込み") %>
<h1>〜応募概要〜</h1>
<h2 class="text-left">タイトル：<%= @event.title %></h2>
<h4 class="text-left">日付：<%= @event.date %> スタート</h4>
<h4 class="text-left">場所：<%= @event.place %></h4>
<br>

<h1>〜応募フォーム〜</h1>
<%= form_for @event_offer, url: event_event_offers_url do |f| %>
  <%= render "shared/error_messages", object: @event_offer %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control my-form", placeholder: "お名前を入力" %>
  <br>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control my-form", placeholder: "メールアドレスを入力" %>
  <br>

  <%= f.label :remark %>
  <%= f.text_area :remark, class: "form-control my-form", size: "30x8", placeholder: "内容を入力" %>
  <br>

  <%= f.hidden_field :event_id, value: @event.id %>

  <%= f.submit "応募する", class: "btn btn-success" %>
<% end %>
<br><br><br>