<%  provide(:title, "イベント申し込み詳細") %>
<h1>応募確認ページ</h1>
<p>名前：<%= @event_offer.name %></p>
<p>メールアドレス：<%= @event_offer.email %></p>
<p>備考：<%= simple_format(@event_offer.remark? ? @event_offer.remark : "なし") %></p>
<br>
<h4>イベント詳細</h4>
<p>イベント名；<%= @event.title %></p>
<p>スタート時間：<%= @event.date %></p>
<p>場所：<%= @event.place %></p>
<br>
<% if @event_offer.admin_checked? %>
  <p class="btn btn-info">※送信済み</p>
<% else %>
  <%= form_for @event_offer, url: event_event_offer_url(@event) do |f|   %>
    <%= f.submit "メール送信済みにする", class: "btn btn-primary" %>
  <% end %>
<% end %>