<%  provide(:title, "イベント一覧") %>
<h1 class="text-center">イベント一覧</h1>
<div class="">
  <table class="">
    <thead>
    <tr>
      <th>日時</th>
      <th>イベント名</th>
      <th>場所</th>
      <% if admin_user_signed_in? %>
        <th>管理者項目</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @events.each do |e| %>
      <tr>
        <td><%= e.date %></td>
        <td><%= link_to e.title, e %></td>
        <td><%= e.place %></td>
        <% if admin_user_signed_in? %>
          <td><%= link_to "削除", e, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
