<%  provide(:title, "イベント作成") %>
<h1>イベント作成ページ</h1>
<hr>
<%= form_for @event do |f| %>
  <!--  ないと思うけど...-->
  <%= render "shared/error_messages", object: @event %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control my-form", placeholder: "タイトルを入力" %>
  <br>

  <%= f.label :date %> <br>
  <%= f.datetime_select :date, class: "form-control my-form",minute_step: 10 %>
  <br><br>

  <%= f.label :place %>
  <%= f.text_field :place, class: "form-control my-form", placeholder: "場所を入力" %>
  <br>

  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control my-form", size: "30x8", placeholder: "内容を入力" %>
  <br>

  <%= f.submit "作成する", class: "btn btn-success" %>
<% end %>
