<%  provide(:title, "イベント詳細") %>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1 class="text-left"><%= @event.title %></h1>
    <h3 class="text-left d-inline-block pull-left">日付：<%= @event.date %> スタート</h3>
    <h3 class="text-left d-inline-block pull-right">場所：<%= @event.place %></h3>
    <br><br>
    <h2 class="text-left">〜内容〜</h2>
    <p><%= simple_format(@event.content) %></p>
    <br>

    <p><%= link_to "応募フォームへ進む", new_event_event_offer_path(@event), class: "btn btn-primary" %></p>
    <p><%= link_to "戻る", events_path, class: "btn btn-info" %></p>
  </div>
  <div class="col-sm-2"></div>
</div>
<br><br><br>
