<%  provide(:title, "管理者ページ") %>
<h1>管理者ページ</h1>
<h3>作成系</h3>
<%= link_to "日記作成", new_post_path, class: "btn btn-primary" %> |
<%= link_to "イベント作成", new_event_path, class: "btn btn-primary" %>
<hr>

<!--イベント系-->
<h3><%= @event_offers.present? ? "未読イベント申し込み一覧" : "" %></h3>
<ul>
  <% @event_offers.each do |e| %>
    <li><%= e.created_at %>：<%= link_to e.event.title, event_event_offer_path(e.event, e) %></li>
  <% end %>
</ul>
<hr>

<h3>全イベント申し込み一覧</h3>
<ul>
  <% @all_event_offers.each do |e| %>
    <li><%= e.created_at %>：<%= link_to e.event.title, event_event_offer_path(e.event, e) %></li>
  <% end %>
</ul>
<hr>

<!--お問い合わせ-->
<h3><%= @questions.present? ? "未対応イベント一覧" : "" %></h3>
<ul>
  <% @questions.each do |q| %>
    <li><%= q.created_at %>：<%= link_to q.name, q %>さん</li>
  <% end %>
</ul>
<hr>

<h3>お問い合わせ一覧</h3>
<ul>
  <% @all_questions.each do |q| %>
    <li><%= q.created_at %>：<%= link_to q.name, q %>さん</li>
  <% end %>
</ul>
<hr>

<%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete, class: "btn btn-danger" %>

