<br>
<%= form_for @post do |f| %>
  <!--  ないと思うけど...-->
  <%= render "shared/error_messages", object: @post %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control my-form", placeholder: "タイトルを入力" %>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control my-form", size: "30x8", placeholder: "内容を入力" %>
  <br>
  <%= f.submit "送信する", class: "btn btn-success" %>
<% end %>
