<%  provide(:title, "日記一覧") %>
<h1 class="text-center">就活振り返り日記</h1>
<div class="text-center">
  <table class="text-center">
    <thead>
    <tr>
      <th>投稿日</th>
      <th>タイトル</th>
      <th>更新日時</th>
      <% if admin_user_signed_in? %>
        <th>管理者項目</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td><%= p.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= link_to p.title, p %></td>
        <td><%= p.created_at.strftime("%H:%M") %></td>
        <% if admin_user_signed_in? %>
          <td> <%= link_to "編集", edit_post_path(p) %> |
            <%= link_to "削除", p, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
