<%  provide(:title, "日記詳細") %>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1 class="text-center"><%= @post.title %></h1>
    <p class="text-right"><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    <br>
    <h4><%= simple_format(@post.content) %></h4>
    <br><br><br>

    <% begin %>
      <% Post.find(params[:id].to_i - 1) %>
      <%= link_to "<< 前へ", post_path(Post.find(params[:id].to_i - 1)), class: "d-inline-block btn btn-primary pull-left" %>
    <% rescue %>
    <% end %>

    <% begin %>
      <% Post.find(params[:id].to_i + 1) %>
      <%= link_to "次へ >>", post_path(Post.find(params[:id].to_i + 1)), class: "d-inline-block btn btn-primary pull-right" %>
    <% rescue %>
    <% end %>

  </div>
  <div class="col-sm-2"></div>
</div>
