/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
//@import "font-awesome-sprockets";
//@import "font-awesome";
//@import "top";
html {
  font-size: 16px;
}
body {
  padding-top: 4rem;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

table {
  width: 100%;
  th {
    font-size: 30px;
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.my-form {
  width: 500px;
}

.main-page {
  background-color: white;
  height: calc(100vh - 50px);
}

.red {
  color: red;
}

.white {
  color: white;
}

.main-logo {
  display: none;
  font-family: "HGP明朝E", serif;
}

#logo {
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


//パソコンのみCSS
@media (min-width: 769px) {
  .color-grey {
    background-color: gray;
    height: calc(100vh - 50px);
  }
  .main-image-tag {
    display: inline-block;
  }
  .main-logo {
    display: none !important;
  }
  .main-logo-pc {
    display: block;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: "HGP明朝E", serif;
    font-weight: bold;
  }
}

