<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
<!--  <div class="container">-->
    <%#= link_to "就活分析", root_path, id: "logo" %>
<!--    <nav>-->
<!--      <ul class="nav navbar-nav navbar-right navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">-->
<!--        <li class="pc-menu"><%#= link_to "Home", root_path, class: "navbar-brand" %></li>-->
<!--        <li class="pc-menu"><%#= link_to "就活振り返り日記", posts_path %></li>-->
<!--        <li class="pc-menu"><%#= link_to "イベント一覧", events_path %></li>-->
<!--        <li class="pc-menu"><%#= link_to "お問い合わせ", new_question_path %></li>-->
<!--        <li class="dropdown phone-menu">-->
<!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown">メニュー<span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--            <li><%#= link_to "Home", root_path %></li>-->
<!--            <li><%#= link_to "就活振り返り日記", posts_path, class: "dropdown-item" %></li>-->
<!--            <li><%#= link_to "イベント一覧", events_path, class: "nav-link" %></li>-->
<!--            <li><%#= link_to "お問い合わせ", new_question_path, class: "nav-link" %></li>-->
<!--          </ul>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "就活分析", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "就活振り返り日記", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "イベント一覧", events_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", new_question_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>