<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/header' %>

<div class="row main-page">
  <div class="col-md-1 color-grey"></div>
  <div class="col-md-10 main-page">
    <% if notice %>
      <h3 class="alert alert-success"><%= simple_format(notice) %></h3>
    <% elsif alert %>
      <h3 class="alert alert-danger"><%= simple_format(alert) %></h3>
    <% end %>
    <%= yield %>
  </div>
  <div class="col-md-1 color-grey"></div>
</div>
</body>
</html>
